.Menu {
  width: 100%;
  padding: 1em;
  text-align: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.171);
}

.Menu .Logo {
  max-width: 20%;
}

@media screen and (min-width: 1024px) {
  .Menu {
    padding: 2em;
    text-align: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
