* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

:root {
  --primary: #cac1f2;
  --accent: #584a91;
  --dark-purple: rgba(5, 1, 10, 0.89);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--dark-purple);
}

a {
  color: inherit;
  text-decoration: none;
}
